<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<!-- This parameter will be passed to every test in this suite -->
<suite name="Assessment">
	<test name="Test 01">
		<classes>
			<class name="test.Submit">
				<methods>
					<include name="test01" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="test 02">
		<!-- This parameter will be passed this test only -->
		<parameter name="Type" value="Toxic" />
		<parameter name="Name" value="Mercury" />
		<parameter name="ServiceNo" value="12345" />
		<parameter name="Quantity" value="5000" />
		<classes>
			<class name="test.Submit">
				<methods>
					<include name="test02" />
				</methods>
			</class>
		</classes>
	</test>
</suite>

